@{
   Layout = "_StarterLayout"; //a way to call the layout from another folder 
   ViewData["Title"] = "Index Page";
}
<h1>@ViewData["Title"]</h1>

 <p class="lead">Start<a href = "Calculator/"> Calculating</a></p>
