  @model Calculations
  @{
    ViewData["Title"] = "Math Input Form";
    Layout = "_StarterLayout"; 
  }
 <div class="container">
    <form class="form-horizontal"
            asp-action="DoCalculation"
            method="POST">
        <fieldset>
            @* Title of Form *@
            <legend>Calculator</legend>

            @* Left Operand *@
            <div class="form-group">
                <label asp-for="leftOperand">
                </label>
                <input class="form-control"
                    asp-for="leftOperand"
                    placeholder="Left Operand"
                    type="number"
                    step ="0.00001">
            </div>

            @* Operation Select *@
            <div class="form-group">
                <label asp-for="Operator"></label>
                <select class="form-control" asp-for="Operator">
                        <option>+</option>
                        <option>-</option>
                        <option>*</option>
                        <option>/</option>
                        <option>%</option>
                        <option>round</option>
                        <option>ceiling</option>
                        <option>floor</option>
                </select>
            </div>

            @* Right Operand *@
            <div class="form-group">
                <label asp-for="rightOperand">
                </label>
                <input class="form-control"
                    asp-for="rightOperand"
                    placeholder="Right Operand"
                    type="number"
                    step ="0.00001">
            </div>

            @* Hidden Result *@
            <input asp-for="Operator" type="hidden">

            @* Submit Button *@
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>                
        </fieldset>
    </form>
</div>